body {
    background-color: #F6F3F1;
    font-family: 'Poppins', sans-serif;
    color:#242424;
}
// navbar 

.navbar-brand {
    img {
        max-height: 45px;
    }
}

.scrolling-active {
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    height: 3.6rem;
    transition: 500ms;
}

.navbar-light {
    .nav-item {
        .nav-link {
            color: #313131;
            
            &.active {
                font-weight: bold;
                
                color: #313131 !important ;
            }
        }
    }
}


// header 

.header-rentangle {
    padding-top: 20px;
    padding-bottom: 100px;
    
}
.header-rentangle {  
    // untuk mobile
    .text-center {
        h1 {
            margin-top: 1px;
            font-weight: bold;
            font-size: 38px;
            
        }
    }
      
    .gambar-mobile {
        img { 
            padding-top: 10px;
            max-width: 355px;
            
        }
    }
}


.header-rentangle {  
      
    img { 
        padding-top: 4rem;
        max-width: 600px;
        
    }
}

header {
    h1 {
        margin-top: 50px;
        font-weight: bold;
        font-size: 38px;
        
    }
    h2 {
        color: #262626;
        font-size: 20px;
        margin-top:-5px;
        margin-bottom: 30px;
        
    }
    p {
        font-size: 17px;
        color: #242424;
        margin-bottom: 40px;
    }
    .btn-about-me {
        font-size: 16px;
        background-color:#AB896D;
        color: #fff;
        border-radius: 11px;

        &:hover {
            background-color:#C29B7C;
        color: #fff;
        }
    }
}

// CONTENT SERVICES

.main-content {
    .services {
        img {
            max-height: 500px;
            margin-left: -50px;
        }
    }
}


.main-content {
    .services {
        background-color: #F9F9F9;
        padding-top: 90px;
        padding-bottom: 90px;
        
            h2 {
                font-size: 30px;
                font-weight: bolder;
            }
            p {
                margin-top: -10px;
                font-size: 17px;
                color: #242424;
            }
    }
}

.main-content {
    .card-services-content {
        min-height: 320px;
        background-color: #fff;
        padding: 40px 20px 4px ;
        border-radius: 19px;
        margin-top: 30px;
        
    
        img {
            max-height: 90px;
            margin-bottom: 40px;
        }
        .headline-edit {
            margin-top: 53px;
        }
    
        h3 {
            font-size: 20px;
        }
        p {
            padding : 10px 20px;
            font-size: 15px;
            color: #565656;
        }
    }
    
}
// section-2-link-portfolio 
.two-link-portfolio {
    .headline-3 {
        margin-top: 50px;
        margin-bottom: 50px;
        h3 {
            font-weight: bold;
            font-size: 32px;
        }
        p {
        font-size: 17px;
        color: #242424;

        }
        
    }
    .btn-go-to-dribble {
        font-size: 16px;
        background-color:#AB896D;
        color: #fff;
        border-radius: 11px;
        
        &:hover {
            background-color:#C29B7C;
            color: #fff;
        }
    }


    .card-portfolio {
        max-height: 500px ;
        background-color: #fff;
        border-radius: 19px;
        padding: 30px 10px;
        margin-bottom: 50px;

        h4 {
            margin-top: 20px;
            font-size: 18px;
            font-weight :bold ;
        }

        img {
        max-height: 100px;
        margin-top: 80px;
        margin-bottom: -80px;  
        }

        .btn-go-to-dribble {
            margin-top: 120px;
        }
    }
}
// footer 
.section-footer {
    background-color: #F9F9F9;
    li {
        a {
            margin-left: 0;

            color: #242424;
        
        }
    }
}
.btn-about-me {
    background-color: #AB896D;
    color: #fff;
    border-radius: 9px;

    &:hover {
        background-color:#C29B7C;
        color: #fff;
    }
    
}
.section-footer {
    
    .made-with {
        p {
            font-size: 15px;
            color: #242424;
        }
    }
    .made-with {
            a {
                color: #242424;
        }
    }
}


// projects
.headline-projects {
    h1 {
        font-weight: bold; 
        font-size: 60px; 
        margin-top: 200px;  }
}

.btn-back-home {
        font-size: 16px;
        background-color:#AB896D;
        color: #fff;
        border-radius: 11px;
        text-align: center;

        &:hover {
            background-color:#C29B7C;
            color: #fff;
        }
}
// about 
.about-profiles {
    margin-top: 50px;
    img {
        max-height: 450px;
        margin: 70px 0;
        
        

    }
    h2 {
        font-size: 30px;
        font-weight: bold;
        color: #AB896D;
        
        margin-bottom: 20px;
    }
    p {
        padding: 0 35px 0 0;
        font-size: 17px;
    }
}

//contact
.contact {
    p {
        font-size: 16px;
        color: #242424;
    }
    margin-bottom: 120px;
    #h2-heading {
        font-size: 32px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 25px;
        font-weight: bold;
    }
    .btn-contact {
        background-color: #AB896D;
        color: #fff;
        border-radius: 9px;

        &:hover {
            background-color:#C29B7C;
            color: #fff;
        }
    }
}